// Archivo generado automáticamente por Ansible — NO editar manualmente
export const enviroment = {
  production: true,
  apiBaseUrl: 'http://{{ gateway_host }}:{{ gateway_port }}/api',
  collabUrl: 'ws://{{ gateway_host }}:{{ gateway_port }}/collab',
  ejecutarUrl: 'ws://{{ gateway_host }}:{{ gateway_port }}/ejecutar/ws/execute',
  apiUrlLanguageServer: 'http://{{ gateway_host }}:{{ gateway_port }}',
};
