[Unit]
Description=Extra-editable Collab Service (puerto %i)
After=network.target

[Service]
Type=simple
User=estudiante
Group=estudiante
WorkingDirectory={{ project_dir }}/collab-service
ExecStart=/usr/bin/node {{ project_dir }}/collab-service/src/server.js

# Variables de entorno
Environment=PORT=%i
Environment=JWT_SECRET={{ jwt_secret }}
Environment=FRONTEND_ORIGIN=http://{{ frontend_host }}:{{ frontend_port }}
Environment=DB_HOST={{ db_host }}
Environment=DB_PORT={{ db_port }}
Environment=DB_NAME={{ db_name }}
Environment=DB_USER={{ db_user }}
Environment=DB_PASSWORD={{ db_password }}

Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
